@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppin {
    font-family: 'Poppins', sans-serif;
}

.font-franklin {
    font-family: 'Libre Franklin', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}